<%= content_for :title do %>
  <h1>About GHackLab: The Beta List</h1>
<% end %>

<p>Created via <a href="http://www.codecloud.me">CodeCloud.me</a> </p>

<h1>
College students become liaisons for startups at Universities. Startups and college students can reserve spots at <a href="http://ghacklabs.com" target="_blank">GHackLabs.com</a>

	</h1>


