<br/>
<div class="jumbotron">
  <h1>GHackLabs: The Beta List</h1>
  <p><b>GHackLabs: The Beta List</b> allows you to find and add the hottest startups from around the globe</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Discover</h2>
    <p>Startups from around the world upload their startups that they worked oh-so-hard to create... or simply think up. Will this startup become a reality? Browse through and check out what entrepreneurs around the globe are cooking up. Mmmm... can you smell the innovation?</p>
  </div>
  <div class="col-md-4">
    <h2>Upload</h2>
    <p>You got a startup idea? Good. Upload it. Whether it's a cooky idea your father came up with around the kitchen table or a thing you actually wrote a looooong business plan for, this is the place to post your idea to see if other entrepreneurs and early adopters can dig it. Are you diggable?</p>
  </div>
  <div class="col-md-4">
    <h2>Rate</h2>
    <p>Alas, after you've discovered a cool or not-so-cool startup, it's time to weigh in. Think the startup you just found is going to sink into the bowels of the dead sea of Internet-no-one-go-dom... Tell the entrepreneurs and the whole world here. Or, do you think this is a really hot idea or actual startup... weigh in with your advice and feedback. Or simply upvote the thing. Your choice.</p>
  </div>
</div>
